:root {
    --color-blanco: #E6F4F1;
    --color-amarillo: #FFDB2E;
    --color-celeste: #75AADB;
    --color-azul: #00274D;
    --color-negro: #28161C;
}




html {
    background-color: var(--color-blanco);
    font-family: sans-serif;
    font-size: 15px;
}

body {
    margin: 0;
}

.main-header {
    margin: 10px;
    display: flex;
    justify-content: space-around;

}

.logo {
    width: 25vw;
    border-radius: 100%;
}

.logo-2 {

    width: 25vw;
}

.nav-bar a {
    text-decoration: none;
    color: var(--color-blanco);
    margin-left: 5vw;
    margin-right: 5vw;
    display: flex;
    flex-direction: column;
    

}




a{

    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}

a:hover {
    transform: scale(1.1);
    color: var(--color-negro); 
    
   
}

.nav-bar {
    text-align: center;
    margin-top: 15px;
    background-color: #75AADB;
    border-bottom: var(--color-azul) solid 3px;

}

.titular {

    text-align: center;
    font-size: 20px;
}

.titular-h2{
    text-align: center;
}

.img-ciudad {
    width: 100%;
    height: auto;
}




ul {
    list-style: none;
    margin: 0;
    text-decoration: none;
    padding-left: 0;
}

li {
    display: inline;
}

.nav-bar-footer {

    display: flex;
    justify-content: space-around;
    background-color: var(--color-celeste);
    margin-left: 0;
    list-style: none;
    border-bottom: var(--color-azul) solid 3px;


}

.nav-bar-footer a {
    text-decoration: none;
    color: var(--color-blanco);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

}


.nav-bar-footer a:hover {
    transform: scale(1.1);
    color: var(--color-negro); 
    
   
}



.nav-bar-footer li {
    list-style-type: none;
    margin-left: 0;




}

.copy {
    background-color: var(--color-blanco);
    clear: both;
    color: var(--color-negro);
    padding: 0;
    margin: 0;
    text-align: center;
}

/* Nosotros */

.alumnos {

    display: flex;
    margin: 10px 0 20px 10px;



}



.img-perfil {

    width: 30vw;
    height: 40vw;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    object-fit: cover;

}

.img-perfil-licht {

    width: 30%;
    height: 10%;
    border: solid 1px gray;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    object-fit: cover;

}

.texto-perfil {

    padding: 10px;


}



.texto-perfil-pefil {

    padding: 30px;


}
.contenedor-button {

    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.contenedor-button a {
    text-decoration: none;
    color: #fff;
}


.button-linkedin {
    display: inline-block;
    background-color: #0077B5;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.button-linkedin:hover {
    background-color: #005A8E;
}

.button-linkedin:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 119, 181, 0.5);
}


/* Formulario */

#form {
    background-color:var(--color-celeste);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: 40px auto;
    font-size: medium;
    border: 1px solid var(--color-negro);

}

#form label {
    display: block;
    margin-bottom: 10px;
}

#form input[type="text"],
#form select,
#form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid var(--color-negro);
    font-size: 16px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

#form textarea {
    height: 150px;
  }
  
  #form button[type="submit"] {
    background-color: var(--color-amarillo);
    color: var(--color-negro);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 15px;
    display: block;
    margin: 0 auto;
    transform: scale(1);
    transition: transform 0.3s ease-in-out;
   
  }

  #form button[type="submit"]:hover {
    transform: scale(1.1);
}


/* VALIDACIONES FORM , JS */

.es-valido {

    background-color: #198754;
    border: 2px #198754;
  }
  
  .es-invalido {
    background-color: #F8D7DA;
    border: 2px #842029;
  }
  
  #errores {
  
    color: #842029;
    background-color: #F8D7DA;
    font-size: large;
    text-align: center;
    border-radius: 10px;
    list-style: none;
    
    
  }

  #errores li{
    display: block;
  }
  



/* Medias queries */

@media (min-width: 700px) {


    .nav-bar a {

        display: inline;


    }

    .titular {
        font-size: 40px;
    }

    html {
        font-size: 18px;
    }

    .img-perfil-licht {

        width: 30vw;

    }

    .contenedor-info-perfil {

        margin: 15px;
        padding: 30px;

   
   
    }
    




}


@media (min-width: 1050px) {

    html {
        font-size: 25px;
    }

    .logo {

        width: 20vw;
    }

    .titular {
        font-size: 50px;
    }


    .nav-bar a {

        display: inline;


    }

    .img-perfil-licht {

        width: 30vw;

    }





}